---
import Layout from "../layouts/Layout.astro";
---
<Layout title="404">
    <div class="my-60 flex flex-col items-center justify-center space-y-10">
        <h1 class="text-6xl">404</h1>
        <p>Page non trouvé</p>
    </div>
</Layout>