---
import Layout from "../layouts/Layout.astro";
import { Userauth } from "../../backend/backend.mjs";

if (Astro.request.method === "POST") {
    const data = await Astro.request.formData();
    const Login = data.get("Login");
    const password = data.get("password");

    const user = await Userauth(Login, password);

    if (user) {
        return Astro.redirect("/");
    } else {
        return Astro.redirect("/connexion");
    }
}
---

<Layout>
    <div
        class="bg-gray-100 w-full h-[200px] rounded-b-2xl flex justify-center items-center border-b-2 border-black"
    >
        <h1
            class="uppercase pt-20 text-white font-lilitaone text-5xl [-webkit-text-stroke:1.5px_black]"
        >
            se connecter
        </h1>
    </div>

    <div class="mb-10">
        <form method="POST" class="flex flex-col items-center mt-20 space-y-10">
            <input
                type="text"
                name="Login"
                placeholder="Nom d'utilisateur"
                class="border-2 border-black rounded-lg h-12 w-70 bg-white pl-3"
                required
            />

            <div class="relative w-70">
                <input
                    type="password"
                    name="password"
                    placeholder="Mot de passe"
                    class="border-2 border-black rounded-lg h-12 w-full bg-white pl-3 pr-10"
                    required
                    id="password"
                />
                <button
                    type="button"
                    class="cursor-pointer absolute right-2 top-1/2 transform -translate-y-1/2 text-gray-500 hover:text-black"
                    id="toggle-password"
                >
                    👁️
                </button>
            </div>

            <button
                type="submit"
                class="font-lilitaone uppercase text-lg hover:w-[250px] transition-all cursor-pointer mx-auto rounded-xl border-3 flex justify-center items-center h-[50px] w-[200px] hover:bg-black hover:text-white border-black text-black"
            >
                Se connecter
            </button>
        </form>
        <div class="flex flex-col items-center mt-10 space-y-3">
            <a href="" class="text-[15px] pointer font-montserrat">Mot de passe oublié ?</a>
            <a href="" class="text-[15px] pointer font-montserrat">Créer un compte<a>
            <p class="text-[15px] mt-20 font-montserrat">Créer un compte permet d'ajouter vos propres recettes au site</p>
        </div>
    </div>
</Layout>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const togglePasswordButton = document.getElementById("toggle-password");
        const passwordInput = document.getElementById("password");

        if (togglePasswordButton && passwordInput) {
            togglePasswordButton.addEventListener("click", () => {
                passwordInput.type =
                    passwordInput.type === "password" ? "text" : "password";
            });
        }
    });
</script>
