---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <div class="mt-35 mb-35">
        <h1 class="text-5xl font-lilitaone text-center text-black">
            Mentions légales
        </h1>
        <div class="w-1/2 mx-auto space-y-5 mt-20">
            <h2 class="text-2xl text-purple font-bold">Informations générales du site :</h2>
            <ul class="space-y-2">
                <li><span class="text-purple">Nom du site :</span> Wooden Ladle</li>
                <li><span class="text-purple">Propriétaires :</span> Mathis Guellati, Ethan Hennequin-De-Meyer, Valentine Guillot</li>
                <li><span class="text-purple">Forme juridique :</span> Mathis Guellati, Ethan Hennequin-De-Meyer, Valentine Guillot</li>
                <li><span class="text-purple">Adresse légale :</span> wooden.ladle@gmail.com</li>
                <li><span class="text-purple">Numéro d’immatriculation :</span> En cours d'immatriculation</li>
                <li><span class="text-purple">E-mail (client) :</span> contact@woodenladle.com</li>
                <li><span class="text-purple">Hébergeur du site :</span> Infomaniak</li>
                <li><span class="text-purple">Directeurs de publication :</span> Mathis Guellati, Ethan Hennequin-De-Meyer, Valentine Guillot</li>
            </ul>
        </div>
        <div class="w-1/2 mx-auto space-y-5 mt-20">
            <h2 class="text-2xl text-pink font-bold">Conditions générales d’utilisation :</h2>
            <ul class="space-y-2">
                <li><span class="text-pink">Qui est responsable du site :</span> Les trois fondateurs sont responsables du site</li>
                <li><span class="text-pink">Gestion des litiges et responsabilités :</span> Ethan Hennequin-De-Meyer</li>
                <li><span class="text-pink">Droits et obligations des utilisateurs et administrateurs :</span> L’équipe de gestion est responsable du respect des CGU</li>
            </ul>
        </div>
        <div class="w-1/2 mx-auto space-y-5 mt-20">
            <h2 class="text-2xl text-red font-bold">Explication des données collectées et stockage :</h2>
            <ul class="space-y-2">
                <li><span class="text-red">Responsable du traitement des données :</span> Mathis Guellati</li>
                <li><span class="text-red">Mesures de sécurité mises en place :</span> Valentine Guillot</li>
                <li><span class="text-red">Droits et obligations des utilisateurs et administrateurs :</span> L’équipe de gestion est responsable du respect des CGU</li>
            </ul>
        </div>
        <div class="w-1/2 mx-auto space-y-5 mt-20">
            <h2 class="text-2xl text-red font-bold">Politique de confidentialité et cookies :</h2>
            <ul class="space-y-2">
                <li><span class="text-red">Adresse de contact pour la gestion des données personnelles :</span> donnes@woodenladle.com</li>
                <li><span class="text-red">Gestion des cookies :</span> Mathis Guellati</li>
            </ul>
        </div>
        <div class="w-1/2 mx-auto space-y-5 mt-20">
            <h2 class="text-2xl text-orange font-bold">Conditions pour les fournisseurs et partenaires :</h2>
            <ul class="space-y-2">
                <li><span class="text-orange">Qui dans l’équipe gère les relations avec les fournisseurs :</span> Valentine Guillot</li>
                <li><span class="text-orange">Qui s’occupe des négociations et de la signature des contrats :</span> Ethan Hennequin-De-Meyer</li>
            </ul>
        </div>
        <div class="w-1/2 mx-auto space-y-5 mt-20">
            <h2 class="text-2xl text-orange font-bold">Gestion des droits d’auteur sur les images et textes :</h2>
            <ul class="space-y-2">
                <li><span class="text-orange">Qui est responsable du contenu publié sur le site :</span> Ethan Hennequin-De-Meyer</li>
                <li><span class="text-orange">Si vous utilisez des images tierces, qui valide les droits d’utilisation :</span> Valentine Guillot</li>
                <li><span class="text-orange">Mentionnez que les trois fondateurs sont garants de la propriété intellectuelle du site :</span> Les trois fondateurs sont collectivement garants de la propriété intellectuelle du site, incluant l’ensemble des contenus textuels, visuels et multimédias publiées.</li>
            </ul>
        </div>
    </div>
</Layout>