---
import { addUser } from "../../backend/backend.mjs";
import Layout from "../layouts/Layout.astro";

let error = "";
let success = "";

if (Astro.request.method === "POST") {
    const formData = await Astro.request.formData();
    const email = formData.get("email");
    const password = formData.get("password");
    const pseudo = formData.get("pseudo");
    const avatar = formData.get("avatar"); // File

    try {
        await addUser({ email, password, pseudo, avatar });
        success =
            "Inscription réussie ! Vous pouvez maintenant vous connecter.";
    } catch (err) {
        error = err.message || "Erreur lors de l'inscription.";
    }
}
---

<Layout>
    <div class="flex flex-col gap-6 text-black">
        <div
            id="login-title"
            class="w-full h-[250px] bg-gray-100 p-0 rounded-b-3xl flex items-center justify-center border-b"
        >
            <h1
                class="text-[80px] font-lilitaone pt-20 text-white [-webkit-text-stroke:1px_black]"
            >
                S'inscrire
            </h1>
        </div>
    </div>
    <form method="POST" enctype="multipart/form-data" class="w-1/4 mb-15 space-y-4 text-center mx-auto mt-10">
        <input type="text" name="pseudo" class="w-full p-2 border rounded-xl" placeholder="Votre nom d'utilisateur"/>
        <input type="email" name="email" required class="w-full p-2 border rounded-xl" placeholder="Votre adresse e-mail" />
        <input type="password" name="password" required class="w-full p-2 border rounded-xl" placeholder="Votre mot de passe"/>
        <input type="file" name="avatar" accept="image/*" />
        <button type="submit">S'inscrire</button>
    </form>
    {success && <p style="color:green">{success}</p>}
    {error && <p style="color:red">{error}</p>}
</Layout>
