---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card_prod.astro";
---

<Layout>
    <div class="mt-40 space-y-3 text-center">
        <h2 class="text-5xl font-lilitaone text-white [-webkit-text-stroke:1.5px_black] uppercase">Nos Produits</h2>
        <p class="font-montserrat text-xl">Pour les fans de gourmandises</p>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-10">
        
    </div>
</Layout>