---
//@ts-nocheck
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card_prod.astro";
import Hero from "../../components/Hero.astro";
import img from "../../assets/img/produits.webp";

import { allProduitSorted,ProduitByRegion } from "../../../backend/backend.mjs";

const prod = await allProduitSorted();
let produit = [];
let regions = ["Tout", "Amérique Latine", "Afrique Central", "Afrique du Nord", "Orient", "Europe", "Asie"];

if (Astro.request.method == "GET") {
    produit = await allProduitSorted();
    console.log(regions);
} else if (Astro.request.method == "POST") {
    const data = await Astro.request.formData();
    
    const region = data.get("Region");
    if (region !== "Tout") {
        const response = await ProduitByRegion(region);
        produit = response;
        regions = [region, ...regions.filter((r) => r !== region)];
    } else {
        produit = await allProduitSorted();
    }
}
---

<Layout>
    <Hero title="nos produits du monde, sélectionnés pour vous !" image={img.src} />
    <div class="space-y-10">
        <div class="mt-225 space-y-3 text-center">
            <h2 class="text-5xl font-lilitaone text-white [-webkit-text-stroke:1.5px_black] uppercase">Nos Produits</h2>
            <p class="font-montserrat text-xl">Pour les fans de gourmandises</p>
        </div>
        <form method="POST">
            <select name="Region">
                {
                    regions.map((region) => (
                        <option value={region}>{region}</option>
                    ))
                }
            </select>
            <input type="submit" value="Filtrer" class="bg-blue-500 text-white font-bold py-2 px-4 rounded" />
        </form>
        <div class="grid grid-cols-3 justify-center mb-20">
            {prod.map((prod) => <Card {...prod} />)}
        </div>
    </div>
</Layout>