---
import Layout from "../../layouts/Layout.astro"
import Hero from "../../components/Hero.astro";
import img from "../../assets/img/recettes.webp";
---

<Layout>
    <Hero title="Les recettes du monde" image={img.src} />
    <div class="mt-225 flex justify-center">
        <p class="font-montserrat text-xl w-6/10">
            Trouvez ici des <span class="font-bold">recettes faciles et authentiques</span> pour cuisiner avec vos <span class="font-bold">produits préférés</span>. Que ce soit un plat de chez vous ou une nouvelle découverte !
        </p>
    </div>
    
</Layout>